/* =====fun fact cards  section===== */
 .fun-fact{
    background-image:linear-gradient(rgba(5, 5, 5, 0.7),rgba(39, 41, 40, 0.7)), url(./images/matt-koffel-_W8p_1OBkAw-unsplash.jpg);
   background-size: cover;
   background-position: center center;
   background-attachment: fixed;
   min-height: 100vh;
   width: 100%;
   color: white;
   padding-bottom: 100px;
  }
  
  .title{
    margin: 0 auto;
    width: 100%;
    max-width: 40rem;
    font-size: 4rem;
    text-align: center;
    color:rgba(9, 228, 13, 0.928);
    font-family: 'Graduate', cursive;  
  }
  .card{
    width: 90%;
    max-width: 400px;
    padding: 1rem 0.5rem;
    border-radius: 1rem;
    border: 3px solid transparent;
  
    backdrop-filter: blur(1rem);
    box-shadow: 1.3rem 1.3rem 1.3rem rgba(0,0,0,0.5);
  
    border-top-color: rgba(205, 205, 205,0.5);
    border-left-color: rgba(205, 205, 205,0.5);
    border-right-color: rgba(205, 205, 205,0.1);
    border-bottom-color: rgba(205, 205, 205,0.1);
  }
  .card-number{
    color: rgba(4, 97, 6, 0.928);
    font-size: 8rem;
    z-index: -1;
    position: absolute;
    top: -1rem;
    right: 2.5rem;
    font-family: 'Graduate', cursive; 
  }

  .card-text{
    -webkit-line-clamp: 5;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
  }
  
  .cb1{
    background-color: rgba(205, 205, 205,0.1);
  }
  
  .btn{
    border-radius: 2rem;
    background: transparent;
    color: aliceblue;
    transition: 1.5s;
  }
  
  .btn:hover{
    box-shadow: 0 0.3rem 1rem rgba(9, 228, 13, 0.928);
  } 