.my-background {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -100;
	width: 100%;
}

.my-fullscreen-video {
	/* filter: grayscale(50%) brightness(55%); */
	filter: brightness(55%);
}

.my-video-container {
	width: 100%;
	height: 40vw;
	overflow: hidden;
	display: block;
	position: relative;
}

.my-tagline {
	position: absolute;
	bottom: 5%;
	margin: 8%;
}

.my-center {
	text-align: center;
}

.my-section2-tagline {
	padding: 3em;
}